@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #30e29e;
  padding: 16px;
  color: white;
  font-style: sans-serif;
  font-variant: bold;
}

